
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Poppins', sans-serif;
   background: var(--bg-main);
   color: rgba(255, 255, 255, 0.972);
}

img {
   display: block;
   max-width: 100%;
}

ul,
ol {
   list-style: none;
}

a {
   color: white;
   text-decoration: none;
}